PAYLOAD_SECRET=9xRqyx1Ow....OMG83wamutBVwU8DU
DATABASE_URI=mongodb+srv://
NEXT_PUBLIC_URL=http://localhost:3000

R2_ACCESS_KEY_ID=6bf72b8c5......07b37e737f7682c44d9
R2_SECRET_ACCESS_KEY=62c0bd4dae32ca.......17ddb38e0daf583c9b937e4d166e01826a9
R2_BUCKET=
R2_ENDPOINT=https://76480d0....3b74c07f852f5e5.r2.cloudflarestorage.com